Package: com.appuplink.opensiri
Name: OpenSiri
Depends: mobilesubstrate
Version: 0.0.1-27
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Freddy Kellison-Linn
Author: Freddy Kellison-Linn
Section: Tweaks
Installed-Size: 332
