Package: com.appuplink.opensiridylibs
Name: opensiridylibs
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome library of some sort!!
Maintainer: Freddy Kellison-Linn
Author: Freddy Kellison-Linn
Section: System
Tag: role::developer
